.wrapperAdmin {
  max-width: 1200px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.nameAdmin {
  font-size: 30px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0.5px;
  color: #36384E;
  margin-bottom: 24px;
}

.formAdmin {
  width: 500px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-bottom: 54px;
}

.inputForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  label {
    font-size: 18px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.5px;
    color: #36384E;
  }
}

.input {
  height: 42px;
  border: 1px solid #ddd;
  font-size: 16px;
  padding-left: 28px;

  &::placeholder {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #5B5B58;
  }

  &:focus {
    outline: none;
  }
}

.selectForm {
  width: 226px;
  height: 42px;
  border: 1px solid #ddd;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #5B5B58;

  &:focus {
    outline: none;
  }
}

.oprions {
  height: 42px;
  background: #ddd;
}

.inputText {
  width: 226px;
  border: 1px solid #ddd;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #5B5B58;

  &:focus {
    outline: none;
  }
}

.nameAction {
  position: absolute;
  z-index: 1;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #5B5B58;
  cursor: pointer;
}

.summit, .delete {
  width: 100%;
  height: 42px;
  display: grid;
  place-items: center;
  background: #E5B300;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #fff;
  border: none;
  cursor: pointer;
}

.delete {
  width: 300px;
}

.infoList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 54px;
}

.image {
  width: 100%;
  height: 400px;
}

.nameHeader {
  front-size: 32px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0.5px;
  color: #36384E;
}

.line {
  width: 100%;
  height: 12px;
  background: #E5B300;
  border-radius: 18px;
  margin-top: 12px;
}

.Desctiption {
  max-width: 960px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.5px;
  color: #36384E;
  margin: 0 auto;
}

.blockInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
  margin-top: 34px;
}

.infoDescrition {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 16px;
  border-bottom: 1px solid #36384E;
}

.nameDescrition, .textDescrition {
  font-size: 20px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.5px;
  color: #36384E;
}

.infoList {
  margin-bottom: 40px;
}
