.textLink {
  color: #36384E;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;

  &:hover {
    color: #AE1919;
    border-bottom: 2px solid red;
  }
}

.active {
  color: #AE1919;
  border-bottom: 2px solid red;
}