.wrapperDatabase {
  height: 808px;
  padding: 0 112px;
  margin: 30px auto 20px;
}

.wrapperList {
  height: 428px;
  padding: 0 112px;
  margin: 30px auto 20px;
}

.wrapperText {
  height: 798px;
  padding: 0 112px;
  margin: 30px auto 20px;
}