.footer {
  max-width: 1440px;
  height: 758px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 100px;
  flex-shrink: 0;
  background: #36384E;
  padding: 65px 112px 50px;
}

.componentFooter {
  width: 100%;
}

.inputEmail {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 38px;
}

.headerInput {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 38px;
  margin-bottom: 14px;
}

.nameFooter {
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  color: #fff;
}

.inputText {
  width: 794px;
  height: 77px;
  border: none;
  font-size: 16px;
  padding-left: 28px;

  &::placeholder {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #5B5B58;
  }

  &:focus {
    outline: none;
  }
}

.checboxInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 75px;
}

.checkbox {
  width: 27px;
  height: 27px;
  background: #36384E;
  cursor: pointer;
}

.textInput {
  width: 731px;
  height: 76px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.5px;
  color: #fff;
}

.submit {
  width: 189px;
  height: 52px;
  background: #999894;
  display: grid;
  place-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.footerBlock {
  width: 842px;
  height: 112px;
  margin: 128px auto 0px;
  display: flex;
  border-top: 1px solid #ffffff;
  column-gap: 38px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 48px;
}

.warning {
  width: 531px;
  height: 76px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.5px;
  color: #fff;
}